MojKlientWindow/Connected Services/ServiceReference1/RestService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RestService1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50892/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50892/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50892/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MojWebSerwis" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRestService1_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IRestService1_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IRestService1_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IRestService1_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IRestService1_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IRestService1_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IRestService1_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IRestService1_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IRestService1_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IRestService1_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IRestService1_CreateJson_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateJson" />
  </wsdl:message>
  <wsdl:message name="IRestService1_CreateJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IRestService1_GetJsonAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJsonAll" />
  </wsdl:message>
  <wsdl:message name="IRestService1_GetJsonAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJsonAllResponse" />
  </wsdl:message>
  <wsdl:message name="IRestService1_GetJsonById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJsonById" />
  </wsdl:message>
  <wsdl:message name="IRestService1_GetJsonById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJsonByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IRestService1_UpdateJson_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateJson" />
  </wsdl:message>
  <wsdl:message name="IRestService1_UpdateJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IRestService1_DeleteJson_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteJson" />
  </wsdl:message>
  <wsdl:message name="IRestService1_DeleteJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteJsonResponse" />
  </wsdl:message>
  <wsdl:portType name="IRestService1">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestService1/Create" message="tns:IRestService1_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestService1/CreateResponse" message="tns:IRestService1_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestService1/GetAll" message="tns:IRestService1_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestService1/GetAllResponse" message="tns:IRestService1_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestService1/GetById" message="tns:IRestService1_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestService1/GetByIdResponse" message="tns:IRestService1_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestService1/Update" message="tns:IRestService1_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestService1/UpdateResponse" message="tns:IRestService1_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestService1/Delete" message="tns:IRestService1_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestService1/DeleteResponse" message="tns:IRestService1_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestService1/CreateJson" message="tns:IRestService1_CreateJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestService1/CreateJsonResponse" message="tns:IRestService1_CreateJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJsonAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestService1/GetJsonAll" message="tns:IRestService1_GetJsonAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestService1/GetJsonAllResponse" message="tns:IRestService1_GetJsonAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJsonById">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestService1/GetJsonById" message="tns:IRestService1_GetJsonById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestService1/GetJsonByIdResponse" message="tns:IRestService1_GetJsonById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestService1/UpdateJson" message="tns:IRestService1_UpdateJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestService1/UpdateJsonResponse" message="tns:IRestService1_UpdateJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestService1/DeleteJson" message="tns:IRestService1_DeleteJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestService1/DeleteJsonResponse" message="tns:IRestService1_DeleteJson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="RestService1" />
</wsdl:definitions>