MojKlientWindow/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50892/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MojWebSerwis" />
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MojWebSerwis" minOccurs="0" name="student" nillable="true" type="q1:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MojWebSerwis" minOccurs="0" name="GetAllResult" nillable="true" type="q2:ArrayOfStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MojWebSerwis" minOccurs="0" name="GetByIdResult" nillable="true" type="q3:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MojWebSerwis" minOccurs="0" name="student" nillable="true" type="q4:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MojWebSerwis" minOccurs="0" name="student" nillable="true" type="q5:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateJsonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJsonAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJsonAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MojWebSerwis" minOccurs="0" name="GetJsonAllResult" nillable="true" type="q6:ArrayOfStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJsonById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJsonByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MojWebSerwis" minOccurs="0" name="GetJsonByIdResult" nillable="true" type="q7:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MojWebSerwis" minOccurs="0" name="student" nillable="true" type="q8:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateJsonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteJsonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>